#gardensModule {
    height:60vh;
    width:max(50%, 50vw);
    padding: 15px;
    background-color: $pastel-green;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        font-weight: 600;
        font-size: 2rem;
        color: $greenest;
    }
    
    .gardens-list {
        background-color: $white;
        padding: 8px;
        display: inline-flexbox;
        overflow-y:auto;
        flex-direction: row;
        align-items: center;
        height:90%;
        border-radius: 25px;
        gap: 1rem;
        overflow-x: scroll;
    }


    .garden {
        display: inline-flex;
        height: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $green;
        border-radius: 25px;
        padding: 4px;
        &:hover {
            opacity: 0.7;
        }
    }
    
    .text {
        font-size: 1.2rem;
        color: $white;
        &:hover {
            color:$greener;
        }
    }

    .show-text {
        cursor: pointer;
        padding: 10px;
        text-decoration: underline;
        color: $greenest;
        &:hover {
            color: $greener;
        }
    }
}