#gardensModule {
    height:50vh;
    width:max(50%, 50vw);
    padding: 15px;
    background-color: $pastel-green;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-shadow: 0px 7px 6px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 6px -2px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 6px -2px rgba(0,0,0,0.3);

    .grey {
        position: absolute;
        display: flex;
        height: 100%;
        width:100%;
        border-radius: 25px;
        background-color: rgba(0,0,0,0.3);
        color: $white;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-weight: 600;
        font-size: 2rem;
        color: $greenest;
        text-align: center;
        padding-left:30px
    }
    
    .gardens-list {
        height: 70%;
        background-color: $white;
        padding: 8px;
        justify-content: flex-start;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        gap: 1rem;
        overflow-x: auto;
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height:10%;
        width: 40%;
        background-color:$yellow;
        cursor: pointer;
        border-style: none;
        color: $greenest;
        border-radius:10px;
        &:hover {
            background-color: $greener;
        }}
    
        h3 {
            display: inline-flex;
            color: $green;
            margin: 0;
        }
        p {
            display: inline-flex;
            color: $greener;
            margin: 0;
        }


    .garden {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        height: 90%;
        max-width: 30%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        background-color: $pastel-yellow;
        border-radius: 25px;
        padding: 10px;
        &:hover {
            opacity: 0.7;
        }
    }
    img { height:100%
    }
    .img-wrapper {
        display: inline-flex;
        border-radius: 25px;
        padding: 10px;
        background-color: $yellow;
        height:50%;
    }
    .text {
        font-size: 1.2rem;
        color: $white;
        &:hover {
            color:$greener;
        }
    }

    .show-text {
        cursor: pointer;
        padding: 10px;
        text-decoration: underline;
        color: $greenest;
        &:hover {
            color: $greener;
        }
    }

}

#empty {
    display: inline-flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
    h3 {
        font-size: 3rem;

    }
    
    .modal-buttonWrapper {
        height: 30%;
        width: 100%;
    }


    .search {
        text-align:center;
        background: none;
        border-bottom: $greener;
        color: $greener;
        border: none;
        border-bottom: solid 3px $greener;
        width: 100%;
        height: 30px;
        form { 
            flex-direction: row;
            column-gap:1rem;
        }
    }

    .list {
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        gap: 2px;
        padding: 10px;
        height: 30vh;
        width: 20vw;
        margin: 5vh;
        background-color: $white;
        border-radius: 25px;
    }

    .name {
        display: inline-flex;
        width: 90%;
        cursor: pointer;
        flex-direction: row;
        justify-content: center;
        background-color: $green;
        border-radius: 25px;
        padding: 4px;
        color: $white;
        &:hover {
            background-color: $pastel-green;
            color:$greenest;
        }
    }

    .chosen {
        background-color: $pastel-yellow;
        color: $green;
    }

    .submit {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 90%;
        background-color:$yellow;
        cursor: pointer;
        border-style: none;
        color: $greenest;
        border-radius:10px;
        &:hover {
            background-color: $greener;
        }
    }
}